@import "variables";

.allergyStatus {
	font-weight: bold;
}

.allergyReaction {
	color: $darkerGrey;
}

form {
	display: inline;
}

td { 
	max-width: 100px; 
	text-overflow: ellipsis; 
	overflow: hidden;
}