@import "variables";

.allergies {
	.allergyStatus {
		font-weight: bold;
	}

	.allergyReaction {
		color: $subtleText;
	}

	form {
		display: inline;
	}

	td { 
		max-width: 100px; 
		text-overflow: ellipsis; 
		overflow: hidden;
	}
}